body {
    padding-top: 50px;
    padding-bottom: 40px;
}

/* Barra de navegação superior */
nav.navbar {
  margin-bottom: 0;
}

a.navbar-brand {
  padding-top: 5px;
  padding-bottom: 5px;
  height: auto;
}

a.navbar-brand img {
    height: 40px;
}

#navbar-edados .navbar-toggle .icon-bar {
  background-color: #fff;
}

#navbar-edados .navbar-toggle {
  border-color: #728396;
}

#navbar-edados,
#navbar-edados #navbar-collapse * {
  background-color: rgb(2,80,129);
  line-height: 20px;
  font: 17px Arial, Helvetica, sans-serif bold;
  font-weight: bold;
  color: #fff;
}

#navbar-edados #navbar-collapse li:hover,
#navbar-edados #navbar-collapse li:focus,
#navbar-edados #navbar-collapse li a:hover,
#navbar-edados #navbar-collapse li a:hover b.caret,
#navbar-edados #navbar-collapse li a:focus,
#navbar-edados #navbar-collapse li a:focus b.caret,
#navbar-edados #navbar-collapse li.open a.dropdown-toggle,
#navbar-edados #navbar-collapse li.open a.dropdown-toggle b.caret {
  background-color: rgb(65, 133, 175);
  color: #000;
}

.titulo-header {
    width: auto;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 5px
}

.titulo-header h3, .titulo-header h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

#main_content .row {
  margin-left: 0;
  margin-right: 0;
}

#main_content .panel-body {
  padding-top: 5px;
  padding-bottom: 5px;
}

#main_content .panel {
  margin-bottom: 5px;
  margin-bottom: 5px;
}

.fotos {
  display: block;
}

.fotos img {
  max-height: 70px;
}

#leia_tambem {
    font-size: 0.9em;
    color: #404040;
}

#leia_tambem h1 {
    font-weight: bold;
}

.social-sharing {
    margin-left: 0;
    margin-top: 14px;
}

footer {
  font-size: 0.8em;
  color: #666;
  height: 10px;
  padding: 10px 0;
    margin-top: 15px;
  border-top: 1px #666 dotted;
  width: 100%;
  float: none;
}

footer p {
    padding-left: 5px;
    padding-right: 5px;
}

/*SLIDERS*/
#OtBC .slider-selection {
  background: #31A227;
}

#OtBC .slider-handle {
  border-bottom-color: green;
}

#RC .slider-selection {
  background: rgba(230, 172, 25, 1);
}

#RC .slider-handle {
  background: yellow;
}

#RPC .slider-selection {
  background: rgb(206, 204, 204);
}

#RPC .slider-handle {
  background: rgb(255,130,130); /* Old browsers */
}

#BNC .slider-selection {
  background: rgb(102, 60, 192);
}

#BNC .slider-handle {
  background: rgb(255,130,130); /* Old browsers */
}


.porcentagens .slider.slider-horizontal,
.intencao .slider.slider-horizontal {
  width: 100%;
  height: 30px;
}

.intencao .slider.slider-horizontal .slider-track,
.porcentagens .slider.slider-horizontal .slider-track {
  height: 20px;
  margin-top: -15px;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#AFAFAF), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #AFAFAF, 0%, #f9f9f9, 100%);
  background-image: -moz-linear-gradient(top, #AFAFAF 0%, #f9f9f9 100%);
  background-image: linear-gradient(to bottom, #AFAFAF 0%, #f9f9f9 100%);
}

.porcentagens #RPC.slider.slider-horizontal .slider-track {
  background-image: none;
  background-color: #EFEFEF;
}



.intencao .categoria,
.porcentagens .categoria {
  padding-left:0;
}

.intencao .slider-handle,
.porcentagens .slider-handle {
  display:none;
}

.avaliacao .col* {
  height: 30px;
}

#sim_dilma:after,
#nao_dilma:after,
.valorOtB:after,
.valorR:after,
.valorRP:after,
.valorBN:after {
  content: "%";
}
.tooltip * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#sim_dilma,
#nao_dilma {
  font-weight: bold;
  font-size: 1.4em;
}

